In [ ]:
import pandas as pd # importar la librería pandas, que se utiliza para el análisis y manipulación de datos

In [ ]:
df = pd.read_csv(r'..\ficheros\DSQA-full.csv', sep=',', quotechar='"', header='infer') # leer un archivo CSV y cargarlo en un DataFrame de pandas, que es una estructura de datos tabular similar a una hoja de cálculo o una tabla SQL, con la primera fila del archivo utilizada como nombres de columna

In [ ]:
print("Primeras 5 filas del DataFrame:")
print(df.head()) # mostrar las primeras 5 filas del DataFrame para tener una vista previa de los datos cargados

Primeras 5 filas del DataFrame:
                                             problem       problem_category  \
0  Consider the OECD countries whose total popula...  Politics & Government
1  There is a MMORPG game that was rumoured to ha...  Media & Entertainment
2  Name the two songs that went viral on TikTok b...  Media & Entertainment
3  I'd like you to analyze the top five universit...              Education
4  Of the countries that were part of the top 10 ...              Geography

                                              answer    answer_type
0                                        New Zealand  Single Answer
1                          Combat, Skilling, Utility     Set Answer
2  I Can't Handle Change (2010), Christmas Kids (...     Set Answer
3           Autonomous University of San Luis Potosí  Single Answer
4                    Austria, Switzerland, Singapore     Set Answer

In [4]:
df.describe() # generar estadísticas descriptivas del DataFrame, como la media, la desviación estándar, los valores mínimos y máximos, y los percentiles para las columnas numéricas

,problem,problem_category,answer,answer_type
count,900,900,896,900
unique,900,17,863,2
top,Consider the OECD countries whose total popula...,Politics & Government,Canada,Set Answer
freq,1,148,4,584

In [5]:
df.info() # mostrar un resumen conciso del DataFrame, incluyendo el número de entradas, el número de columnas, los nombres de las columnas, el tipo de datos de cada columna y la cantidad de memoria utilizada por el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   problem           900 non-null    object
 1   problem_category  900 non-null    object
 2   answer            896 non-null    object
 3   answer_type       900 non-null    object
dtypes: object(4)
memory usage: 28.3+ KB

In [8]:
df_personas = pd.read_csv(r'..\ficheros\datos.csv', sep=',', quotechar='"', header='infer') # leer otro archivo CSV y cargarlo en un DataFrame de pandas

In [9]:
df_personas.describe() # generar estadísticas descriptivas del DataFrame de personas

            Salario   Revisión
count     10.000000   9.000000
mean   49600.000000  18.666667
std    11226.951699   2.000000
min    45000.000000  18.000000
25%    45000.000000  18.000000
50%    45000.000000  18.000000
75%    45000.000000  18.000000
max    80000.000000  24.000000