In [1]:
import pandas as pd

In [ ]:
# Leer un archivo CSV desde una URL y mostrar las primeras filas
url = 'https://people.ucsc.edu/~rfairlie/decomposition/finaldecomp00.csv'
df = pd.read_csv(url)
df.head()

,age,wgt,female,spnnum,racecode,white,black,natamer,asian,hsgrad,...,inc4050,inc5060,inc6075,incgt75,latino,somecol,midwest,south,west,homecomp
0,45,594.13037,0,8,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,44,1696.02450,0,8,1,1,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
2,43,1675.73190,1,8,1,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1
3,25,1872.22020,1,8,1,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1
4,39,386.89310,1,8,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# Leer un archivo CSV local y mostrar las primeras filas
df2 = pd.read_csv(r'..\ficheros\finaldecomp00.csv', sep=',', header='infer')
df2 = pd.read_csv(url)
df2.head()

,age,wgt,female,spnnum,racecode,white,black,natamer,asian,hsgrad,...,inc4050,inc5060,inc6075,incgt75,latino,somecol,midwest,south,west,homecomp
0,45,594.13037,0,8,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,44,1696.02450,0,8,1,1,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1
2,43,1675.73190,1,8,1,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1
3,25,1872.22020,1,8,1,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1
4,39,386.89310,1,8,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

: